container-fluid{
  background-color:red !important
}

#card{
  margin-left: 3rem;
  font-size: 20px;
  width: 11rem;
};
.titre1{
    font-size: 20px;
    margin-left: 2rem;
    margin-right: -2rem
}
#button{
  margin-left: 2rem;
}