h4 {
    text-align: center;
    color:red;
   }
   p{
     text-align: center;
     color: black;
   }
   .p-list{
     text-align: center;
     color: blue;
   }
   .image{
     margin-left: 45%;
   border-style: dashed;
   height: 200px;
   width: 150px;
   }

   